$green: #78a107;
$red: #b7171f;
$orange: #f59725;
$gray: #8f8f8f;
$black: #262626;
$white: #ffffff;


.green{
    color: $green
}
.red{
    color: $red
}
.orange{
    color: $orange
}
.gray{
    color: $gray
}
.black{
    color: $black
}
.white{
    color: $white
}